<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${total}"/>

    <h1 th:text="${average}"/>

    <h1>Список продуктов</h1>
    <span th:if="${products.isEmpty()}">Продуктов нет</span>
    <table class="table" th:if="${!products.isEmpty()}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td> th:text="${p.title}"/>
            <td th:text="${p.cost}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/delete/' + ${p.id}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Добавить продукт</h2>
    <form method="POST" th:action="@{/add}">
        <input type="hidden" name="id" value="0">
        <input type="text" name="title" placeholder="Наименование">
        <input type="number" name="cost" placeholder="Цена">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
</div>

</body>
</html>